# Lab session

Started:   YYYY-MM-DD HH:MM
Expires:   YYYY-MM-DD HH:MM

Username:  student-XX-xxxxxxxxxxxx@qwiklabs.net
Password:

Project:   qwiklabs-gcp-XX-xxxxxxxxxxxx
Console:   https://console.cloud.google.com/?project=qwiklabs-gcp-XX-xxxxxxxxxxxx

Region policy checked:  yes / no
Region in use:
